#MAIN_TOPBAR_CONTAINER {
	width: 100%;
	height: 40pt;
}

#MAIN_TOPBAR {
	background-color: #4D4D4D;
	width: 100%;
	height: 40pt;
	border-bottom: 1pt solid #000000;
}

#BUTTON_DICE {
	background-color: #4D4D4D;
	background-image: url("res/die.png");
	background-blend-mode: darken;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	height: 40pt;
	width: 40pt;
}

#BUTTON_DICE:active {
	background-color: #333333;
}

#MAIN_CONTENT_CONTAINER {
	background-color: #333333;
	width: 100%;
	height: auto;
}

#CONTENT_CONTAINER {
	width: auto;
	height: 100%;
}

#MAIN_SIDEBAR {
	background-color: #4D4D4D;
	width: 40pt;
	height: 100%;
	border-left: 1pt solid #000000;
}

#CANVAS_OVERLAY {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.FullTable {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.hide {
	display: none;
}

.TopbarObject {
	border-bottom: 1pt solid #000000;
	border-right: 1pt solid #000000;
}

.TopbarObject:active {
	border-bottom: 1pt solid #333333;
}

*{
	margin: 0;
	padding: 0;
}