#MAIN_TOPBAR_CONTAINER {
	width: 100%;
	height: 40pt;
}

#MAIN_TOPBAR {
	background-color: #4D4D4D;
	width: 100%;
	height: 40pt;
	border-bottom: 1pt solid #000000;
}

#BUTTON_DICE {
	background-color: #4D4D4D;
	background-image: url("res/die.png");
	background-blend-mode: darken;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	height: 40pt;
	width: 40pt;
	float: left;
}

#BUTTON_DICE:active {
	background-color: #202020 !important;
}

.BUTTON_DICE_SHOW {
	background-color: #333333 !important;
	border-bottom: 1pt solid #333333;
}

#BUTTON_MENU {
	background-color: #4D4D4D;
	height: 40pt;
	width: 40pt;
	float: left;
}

#BUTTON_MENU:active {
	background-color: #202020 !important;
}

.BUTTON_MENU_SHOW {
	background-color: #333333 !important;
}

#MAIN_CONTENT_CONTAINER {
	position: relative;
	background-color: #333333;
	width: 100%;
	height: auto;
}

#CONTENT_CONTAINER {
	width: auto;
	height: 100%;
}

#MAIN_SIDEBAR {
	background-color: #4D4D4D;
	width: 40pt;
	height: 100%;
	border-left: 1pt solid #000000;
}

#CANVAS_OVERLAY {
	position: absolute;
	width: 100%;
	height: 100%;
    right: 0;
    top: 0;
}

.FullTable {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.hide {
	display: none;
}

.TopbarObject {
	border-bottom: 1pt solid #000000;
	border-right: 1pt solid #000000;
}

.MenuAnimBar{
	border: 1pt solid #fafafa;
	border-radius: 2pt;
	margin: 3pt 5pt 9pt 5pt;  
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	transform-origin: left;
}

*{
	margin: 0;
	padding: 0;
}